{
	"plugins": ["syntax-dynamic-import"],
	"presets": ["react", "es2015", "stage-2"],
	"env": {
		"test": {
			"plugins": [
				"transform-es2015-modules-commonjs",
				"dynamic-import-node",
				"transform-react-jsx"
			]
		}
	}
}
